#navbar {
	width: 100%;
	border-bottom: solid;
	border-color: rgba(0, 22, 22, 0.4);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: start;
	padding-bottom: 20px;
}
#main-header {
	display: block;
	width: 100%;
	text-align: center;
}
#main-doc {
	display: flex;
	flex-direction: column;
}

.container {
	margin-left: 50px;
}

.nav-link {
	display: block;
	text-decoration: none;
	padding: 45px 0 0 45px;
}

code {
    background-color: rgb(231, 228, 228);
    padding: 10px;
    border-radius: 10px;
}

header {
	font-size: 30px;
	font-weight: 600;
}

@media (min-width: 40em) {
	#main-doc {
		flex-direction: row;
	}

	#navbar {
		position: sticky;
		flex-direction: column;
		justify-content: start;
		border-right: solid;
	}

	.container {
		margin-left: 20px;
	}
}
